.header {
  background-color: #000000;
  display: grid;
  grid-template-columns: 1fr auto;
}

.title {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  color: #50b4ee;
  text-decoration: none;
}

.navLink {
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}