.header {
  color: white;
  padding-top: 20vh;
  text-align: center;
}

.title,
.subtitle {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 22px;
  margin: 0;
}

@media (min-width: 366px) {
  .title,
  .subtitle {
    font-size: 28px;
  }
}

@media (min-width: 630px) {
  .title,
  .subtitle {
    font-size: 40px;
  }
}

@media (min-width: 1000px) {
  .title,
  .subtitle {
    font-size: 60px;
  }
}
