.navButton {
    position: absolute;
    bottom: 10vh;
    left: 0;
    right: 0;
    margin: 0 auto 0 auto; /*Centers the icon*/
    color: white;
    display: block;
    background-color: transparent;
    border: none;
    width: 60px;
    font-size:60px;
}

.navBar {
    position: absolute;
    bottom: 15vh;
    background-color: rgba(0, 0, 0, .5);
    font-size: 28px;
    color: white;
    width: 100%;
    text-align: center;
    padding-bottom: 5vh;
    transition: bottom 0.5s;
}

.navLink, 
.navLink:active,
.navLink:visited {
    font-family: 'Open Sans';
    text-decoration: none;
    display: inline-block;
    color: white;
    width: 100%;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.navLink:hover {
    font-weight: bold;
}

.collapsedArrow svg {
    transform: rotate(180deg);
}

.collapsedNavBar {
    bottom: -100vh;
}

.navButton svg {
    transition: transform .5s;
}

@media (min-width: 366px) {
    .navLink,
    .navLink:active,
    .navLink:hover,
    .navLink:visited {
      width: 30%;
    }
    .navBar {
      font-size: 28px;
      padding-bottom: 0;
    }
  }
  
  @media (min-width: 630px) {
    .navBar {
      font-size: 40px;
    }
  }
  
  @media (min-width: 1000px) {
    .navBar {
      font-size: 60px;
    }
  }